@import "vars"

.btn:focus
  outline: none
  box-shadow: none

.btn-red
  box-shadow: 0px 2px 0px 0px #BA2300
  border-radius: 100px
  padding: 0 1rem
  color: $white
  background-color: #E73006
  font: 1rem/130% 'PT Serif-Bold', sans-serif
  &:hover,&:active,&:focus
    color: $white
    box-shadow: 0px 2px 0px 0px #BA2300

