@import "vars"

.select-title
  margin: 0 0 0.313rem 0
  h3
    min-height: 48px
    color: #000
    font: 1.25rem/1.5rem 'SFProDisplay-Regular', sans-serif

.select2-search--dropdown
  display: none
.select2-container--default .select2-selection--single
  height: 40px
  z-index: 2
  cursor: pointer
  position: relative
  padding: 0.2rem 1.875rem 0.2rem 0.688rem
  background: #FFFFFF
  border: 0.6px solid #8C8C8C
  border-radius: 0.313rem
  display: flex
  align-items: center
  box-shadow: none
.select2
  width: 100% !important
.select2-selection.select2-selection--single:focus
  outline: none
.select2-container--default .select2-selection--single .select2-selection__rendered
  font: 200 1rem/1.2rem 'SFProDisplay-Light', sans-serif
  //color: $gray
  display: block
  width: 100%
.select2-dropdown
  border: none
.select2-container--default .select2-results__option--highlighted.select2-results__option--selectable
  background-image: none
  background-color: $orange
  border-color: $orange
  color: $white

.select2-results
  box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.25)
  border-radius: 0 0 0.313rem 0.313rem

.select2-results__option
  font: 300 1rem/1.188rem 'SFProDisplay-Light', sans-serif
  border-left: 1px solid $gray
  border-right: 1px solid $gray
  padding: 0.5rem 0.626rem
  width: 100%

.select2-results__options .select2-results__option:last-child
  border-radius: 0 0 0.313rem 0.313rem
  border-bottom: 1px solid $gray
.select2-results__options .select2-results__option:last-child:hover
  border-color: $orange

.select2-container--default .select2-results__option--selected
  background-color: $white

.select2-container--default .select2-selection--single .select2-selection__clear
  display: none

.select2-container--default.select2-container--open.select2-container--below .select2-selection--single, .select2-container--default.select2-container--open.select2-container--below .select2-selection--multiple
  border-radius: 0.313rem

.select2-container--focus
  z-index: 90
.select2-dropdown
  position: relative
  z-index: 80

.select2-results__options li:first-child:hover::before,
.select2-results__options li.select2-results__option--highlighted:first-child::before
  left: 0
  content: ''
  width: 100%
  height: 3px
  position: absolute
  top: -3px
  background-color: $orange

.select2-dropdown:before
  content: ''
  width: 100%
  height: 3px
  position: absolute
  top: -3px
  border-left: 1px solid $gray
  border-right: 1px solid $gray
