<% var data = {
title: "Елицы"
}; %>


<div class="container-fluid footer-area">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <footer>
          <div class="footer-up">
            <div class="footer-logo">
              <img src="img/logo-footer.png" alt="">
            </div>
          </div>
          <div class="footer-down">
            © 2013-2021 Елицы.
            Все права защищены
          </div>
        </footer>
      </div>
    </div>
  </div>
</div>
