@import "../../../sass/vars"

.footer-area
  margin-top: 200px
  position: fixed
  bottom: 0
  background-color: #fff
  &:before
    transform: matrix(-1, 0, 0, 1, 0, 0)
    position: absolute
    content: ''
    background-image: url("../../../img/header-vector.png")
    width: 100%
    height: 30px
    top: -20px
    left: 0
