@font-face {
    font-family: 'PT Serif-BoldItalic';
    src: url('PTSerif/PTSerif-BoldItalic.eot');
    src: local('PT Serif Bold Italic'), local('PTSerif-BoldItalic'),
        url('PTSerif/PTSerif-BoldItalic.eot?#iefix') format('embedded-opentype'),
        url('PTSerif/PTSerif-BoldItalic.woff2') format('woff2'),
        url('PTSerif/PTSerif-BoldItalic.woff') format('woff'),
        url('PTSerif/PTSerif-BoldItalic.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'PT Serif-Bold';
    src: url('PTSerif/PTSerif-Bold.eot');
    src: local('PT Serif Bold'), local('PTSerif-Bold'),
        url('PTSerif/PTSerif-Bold.eot?#iefix') format('embedded-opentype'),
        url('PTSerif/PTSerif-Bold.woff2') format('woff2'),
        url('PTSerif/PTSerif-Bold.woff') format('woff'),
        url('PTSerif/PTSerif-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'PT Serif-Italic';
    src: url('PTSerif/PTSerif-Italic.eot');
    src: local('PT Serif Italic'), local('PTSerif-Italic'),
        url('PTSerif/PTSerif-Italic.eot?#iefix') format('embedded-opentype'),
        url('PTSerif/PTSerif-Italic.woff2') format('woff2'),
        url('PTSerif/PTSerif-Italic.woff') format('woff'),
        url('PTSerif/PTSerif-Italic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'PT Serif-Regular';
    src: url('PTSerif/PTSerif-Regular.eot');
    src: local('PT Serif'), local('PTSerif-Regular'),
        url('PTSerif/PTSerif-Regular.eot?#iefix') format('embedded-opentype'),
        url('PTSerif/PTSerif-Regular.woff2') format('woff2'),
        url('PTSerif/PTSerif-Regular.woff') format('woff'),
        url('PTSerif/PTSerif-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'PT Sans-Italic';
    src: url('PTSans/PTSans-Italic.woff2') format('woff2'),
        url('PTSans/PTSans-Italic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}


@font-face {
    font-family: 'PT Sans-Bold';
    src: url('PTSans/PTSans-Bold.woff2') format('woff2'),
        url('PTSans/PTSans-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}


@font-face {
    font-family: 'PT Sans-Regular';
    src: url('PTSans/PTSans-Regular.woff2') format('woff2'),
        url('PTSans/PTSans-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'TriodPostnaja-Medium';
    src: url('TriodPostnajaMedium.ttf') format('ttf'),
        url('TriodPostnajaMedium.ttf') format('ttf');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Tahoma-Bold';
    src: url('Tahoma/Tahoma-Bold.eot');
    src: local('Tahoma Bold'), local('Tahoma-Bold'),
    url('Tahoma/Tahoma-Bold.eot?#iefix') format('embedded-opentype'),
    url('Tahoma/Tahoma-Bold.woff2') format('woff2'),
    url('Tahoma/Tahoma-Bold.woff') format('woff'),
    url('Tahoma/Tahoma-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Tahoma-Regular';
    src: url('Tahoma/Tahoma.eot');
    src: local('Tahoma'),
    url('Tahoma/Tahoma.eot?#iefix') format('embedded-opentype'),
    url('Tahoma/Tahoma.woff2') format('woff2'),
    url('Tahoma/Tahoma.woff') format('woff'),
    url('Tahoma/Tahoma.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
