<div class="container-fluid header-area">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <header class="header flex-column">
          <div class="header-up d-flex flex-wrap">
            <div class="col-md-7 col-sm-12 p-0 d-flex align-items-center">
              <div class="logo-area">
                <img src="img/logo.png" alt="Елицы">
              </div>
              <div class="header-text">
                <p>Проект православной </p>
                <p>социальной сети «Елицы»</p>
              </div>
            </div>
            <div class="col-md-5 col-sm-12 p-0 d-flex justify-content-end">
              <div class="header-cabinet d-flex align-items-center">
                <img src="img/cabinet.png" alt="">
                <p>Личный кабинет</p>
              </div>
              <button class="btn btn-red">
                Написать записку
              </button>
            </div>
          </div>
          <div class="header-down">
            <nav>
              <ul class="d-flex">
                <li>
                  <a href="/">Что такое записки?</a>
                </li>
                <li>
                  <a href="/">Подарочный сертификат</a>
                </li>
                <li>
                  <a href="/">Ближайшие праздники</a>
                </li>
                <li class="ml-auto">
                  <a href="/">О проекте</a>
                </li>
              </ul>
            </nav>
          </div>
        </header>
      </div>
    </div>
  </div>
</div>
