@import "../../../sass/vars"

.header-area
  position: relative
  background-color: #fff
  &:before
    position: absolute
    content: ''
    background-image: url("../../../img/header-vector.png")
    width: 100%
    height: 30px
    bottom: -25px
    left: 0
    transform: rotate(180deg)

.header
  padding: 25px 0 0 0

.header-up
  padding: 0 0 25px 0
  margin: 0 0 10px 0
  border-bottom: 1px solid #D4C0B4
  .btn
    height: 38px
    margin-left: 45px

.header-down
  li:not(:first-child)
    margin: 0 0 0 1.25rem
  a
    color: #000
    font: 1rem/1.25rem 'PT Sans-Regular', sans-serif

.header-text
  margin: 0 0 0 30px
  padding: 0 0 0 30px
  border-left: 1px solid #D4C0B4
  p
    color: #C4C4C4
    font: 0.875rem/1.063rem 'Tahoma-Regular', sans-serif
