<% var data = {
title: "Елицы"
}; %>
<%= _.template(require('./../includes/default/head-start.html').default)(data) %>
<ul class="list-group">
  <li class="list-group-item">
    <a href="index-0.html">Элементы</a>
  </li>
  <li class="list-group-item">
    <a href="index-1.html">Главная</a>
  </li>
</ul>

<%= _.template(require('./../includes/footer/footer.html').default)(data) %>

<%= _.template(require('./../includes/default/head-end.html').default)(data) %>

