<% var data = {
title: "Елицы"
}; %>
<%= _.template(require('./../includes/default/head-start.html').default)(data) %>

<p style="font-family: 'PT Serif-Bold',sans-serif ">
  PT Serif-Bold
</p>
<p style="font-family: 'PT Serif-Regular',sans-serif ">
  PT Serif-Regular
</p>
<p style="font-family: 'PT Sans-Italic',sans-serif ">
  PT Sans-Italic
</p>
<p style="font-family: 'PT Sans-Bold',sans-serif ">
  PT Sans-Bold
</p>
<p style="font-family: 'PT Sans-Regular',sans-serif ">
  PT Sans-Regular
</p>
<p style="font-family: 'Tahoma-Bold',sans-serif ">
  Tahoma-Bold
</p>
<p style="font-family: 'Tahoma-Regular',sans-serif ">
  Tahoma-Regular
</p>
<p style="font-family: 'TriodPostnaja-Medium','PT Sans-Italic'; font-size: 36px ">
  TriodPostnaja-Medium
  <br>Подайте записки к ближайшим праздникам
</p>

<%= _.template(require('./../includes/default/head-end.html').default)(data) %>


